---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Services">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');
  </style>
  <h1>Services</h1>
  <p>This is the Services page. Add your services here.</p>
</Layout>